.Table {
    margin-bottom: 2px !important;
}

.HeaderCell {
    text-align: center !important;
    padding: 5px !important;
}

.Cell {
    font-size: 12px;
    cursor: pointer;
}

.Button {
    margin-left: -10px !important;
}

.Row:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: rgba(252, 198, 198, 0.671);
    transition: background 0.5s linear;
}

.ActiveItem:hover{
    background-color: rgb(184, 241, 209);
    font-weight: 600;
}

.ActiveItem {
    background-color: #82E0AA;
    transition: background 0.5s linear;
}