.Tracking {
    width: 90%;
    margin: 0 auto;
    display: table;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Segment {
    background: #D5DBDB !important;
}

.FixRightLine {
    box-shadow: none !important;
}

.Loading {
    display: table;
    margin: 185px auto !important;
}